[mysqld]
lower_case_table_names=1
secure_file_priv="/docker-entrypoint-initdb.d/csv"
general_log = OFF
slow_query_log = OFF
skip-log-bin
log_error_verbosity = 1
innodb_print_all_deadlocks = 0
max_connections = 500

